.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-padding-inline, 0);

  @media (max-width: 768px) {
    --container-padding-inline: 50px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(var(--grid-column-min-width), 1fr));
  grid-gap: var(--grid-gap);
  justify-content: center;

  & .not-found {
    grid-column: 1 / -1;
  }
}

.grid--vcenter {
  flex: 1;
  align-content: center;
}

.has-search .grid--vcenter {
  align-content: start;
}
